{{include 'admin/public/header.html'}}
<!--<link href="{{_host}}/admin/css/demo.css" rel="stylesheet" type="text/css">-->
<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    {{include 'admin/public/header_nav.html'}}
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!--左侧导航-->

        {{include 'admin/public/nav_left.html'}}

        <div class="main-content">
            {{include 'admin/public/nav_top.html'}}

            <div class="page-content">

                <div class="page-header">
                    <h1>
                        增加菜品
                    </h1>
                </div><!-- /.page-header -->

                <!--表格-->

                <div class="container_type">
                    <div class="table-responsive">
                        <form id="myForm" action="{{_host}}/admin/food/doAdd" method="post" class="form-horizontal form_top" enctype="multipart/form-data" >
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="title">菜品名称:</label>

                                <div class="col-sm-10 col-sm-push-2">
                                    <input type="text" id="title"  name="title" class="col-xs-10 col-sm-5" placeholder="请输入名称..."/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="cate_id">菜品分类：</label>

                                <div class="col-sm-10 col-sm-push-2">
                                    <select name="cate_id" id="cate_id">

                                        {{if list!="" || list!=undefined }}
                                        {{each list}}

                                        <option value="{{@$value._id}}">{{$value.title}}</option>


                                        {{/each}}
                                        {{else}}
                                        <option value="" disabled>暂无分类</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="title">菜品图:</label>

                                <div class="col-sm-10 col-sm-push-2">
                                    <a href="javascript:void(0);" class="file">选择文件
                                        <input type="file" id="file"  name="img_url" class="col-xs-10 col-sm-5" />
                                    </a>
                                    <label class="no-padding-right showFileName" title="" for="title" style="display: none"></label>
                                    <label class="no-padding-right showerror" title="" for="title" style="display: none"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="price">价格:</label>

                                <div class="col-sm-10 col-sm-push-2">
                                    <input type="text" id="price"  name="price" class="col-xs-10 col-sm-5" placeholder="请输入价格..." />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-push-2 control-label no-padding-right">状态：</label>
                                <div class="col-sm-10 col-sm-push-2">
                                    <label class="status">已审核:</label>
                                    <div class="in_div">
                                        <input type="radio" name="status"  id="status1" value="1" checked />
                                        <label for="status1"  class="in_label label_check" onclick="app.radio(this)"></label>
                                    </div>
                                    <label class="status">未审核:</label>
                                    <div class="in_div">
                                        <input type="radio" name="status" id="status2" value="0" />
                                        <label for="status2" class="in_label" onclick="app.radio(this)"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-12" style="text-align: center">
                                    <input type="submit" id="submit" class="submit" value="提交信息">
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->



{{include 'admin/public/footer.html'}}
<script src="{{_host}}/admin/collection_js/method_public.js"></script>

</body>
</html>

