{{include 'admin/public/header.html'}}
<link rel="stylesheet" href="{{_host}}/admin/tab/css/style.css">
<script type="text/javascript" charset="utf-8" src="{{_host}}/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{{_host}}/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="{{_host}}/ueditor/lang/zh-cn/zh-cn.js"></script>


<body>
<div class="navbar navbar-default" id="navbar">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>

	{{include 'admin/public/header_nav.html'}}
</div>

<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>

		<!--左侧导航-->

		{{include 'admin/public/nav_left.html'}}

		<div class="main-content">
			{{include 'admin/public/nav_top.html'}}

			<div class="page-content">

				<div class="page-header">
					<h1>
						添加文章
					</h1>
				</div><!-- /.page-header -->

				<!--表格-->


				<div class="table-responsive">
					<form id="myForm_article" action="{{_host}}/admin/article/doAdd" method="post" class="form-horizontal" enctype="multipart/form-data"><!--action="{{_host}}/admin/article/pic" method="post"-->
						<!--tab切换-->
						<div class="wrap">

							<ul class="tabs group">
								<li><a class="active" href="#basic">基本设置</a></li>
								<li><a href="#details">内容设置</a></li>
								<li><a href="#seo">SEO设置</a></li>
							</ul>
							<div id="content">
								<div id="basic" class="show_hide"  >
									<div class="form-group">
										<label class="col-sm-4 col-sm-push-1 control-label no-padding-right" for="pid">所属分类：</label>

										<div class="col-sm-6 col-sm-push-1">
											<select name="pid" id="pid">
												{{each catelist}}
												<option value="{{@$value._id}}">{{$value.title}}</option>
												{{/each}}

											</select>
											<select name="secpid" id="secpid" >
												<option value="0">--次级分类--</option>

												{{if seclist!="" || seclist!=undefined }}
												{{each seclist}}

												<option class="se{{$value.pid}}" value="{{@$value._id}}" style="display: none" >{{$value.title}}</option>


												{{/each}}
												{{else}}
												<option value="0" disabled>暂无次级分类</option>
												{{/if}}
											</select>
										</div>
										<input type="hidden" name="catename" id="catename"  value="{{catelist[0].title}}" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 col-sm-push-1 control-label no-padding-right" for="title">名称:</label>

										<div class="col-sm-6 col-sm-push-1">
											<input type="text" id="title"  name="title" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 col-sm-push-1 control-label no-padding-right" for="title">封面图:</label>

										<div class="col-sm-6 col-sm-push-1">
											<a href="javascript:void(0);" class="file">选择文件
											<input type="file" id="file"  name="img_url" class="col-xs-10 col-sm-5" />
											</a>
											<label class="no-padding-right showFileName" title="" for="title" style="display: none"></label>
											<label class="no-padding-right showerror" title="" for="title" style="display: none"></label>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 col-sm-push-1 control-label no-padding-right" for="title">作者:</label>

										<div class="col-sm-6 col-sm-push-1">
											<input type="text" id="author"  name="author" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 col-sm-push-1 control-label no-padding-right">状态：</label>
										<div class="col-sm-6 col-sm-push-1">
											<label class="status">已审核:</label>
											<div class="in_div">
												<input type="radio" name="status"  id="status1" value="1" checked />
												<label for="status1"  class="in_label label_check" onclick="app.radio(this)"></label>
											</div>
											<label class="status">未审核:</label>
											<div class="in_div">
												<input type="radio" name="status" id="status2" value="0" />
												<label for="status2" class="in_label" onclick="app.radio(this)"></label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 col-sm-push-1 control-label no-padding-right">加入推荐：</label>
										<div class="col-sm-6 col-sm-push-1">
											<label class="status">精品</label>
											<div class="in_div">
												<input type="checkbox" id="is_best" value="1" name="is_best" checked="">
												<label for="is_best"  class="in_label_checkbox label_check_checkbox"></label>
											</div>
											<label class="status">热销</label>
											<div class="in_div">
												<input type="checkbox" value="1" id="is_hot" name="is_hot" checked="">
												<label for="is_hot"  class="in_label_checkbox label_check_checkbox"></label>
											</div>
											<label class="status">新品</label>
											<div class="in_div">
												<input type="checkbox" value="1" id="is_new" name="is_new" checked="">
												<label for="is_new"  class="in_label_checkbox label_check_checkbox"></label>
											</div>
										</div>
									</div>
								</div>
								<div id="details" class="show_hide">
									<div class="tab-pane">
										<div class="form-group" style="height: 400px;">
											<label class="col-sm-2 control-label no-padding-right">文章详情:</label>

											<div class="col-sm-8" style="color:black">
												<script name="content" id="editor" type="text/plain" style="width:600px;height:300px;"></script>
											</div>
										</div>
									</div>
								</div>
								<div id="seo" class="tab-pane show_hide">
									<div class="form-group">
										<label class="col-sm-4 control-label no-padding-right" for="keywords">关键字：</label>

										<div class="col-sm-8">
											<input type="text" id="keywords"  name="keywords" class="col-xs-10 col-sm-6" />
										</div>
									</div>
									<div class="form-group" style="height:100px;">
										<label class="col-sm-4 control-label no-padding-right" for="description">描述：</label>
										<div class="col-sm-8">
											<textarea  style="height:100px;" class="col-xs-10 col-sm-6"  name="description" id="description" cols="10" rows="10"></textarea>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6 col-sm-push-5">
										<button id="submit" style="width:135px" type="submit" class="btn btn-primary">提交</button>
									</div>

								</div>
							</div>

						</div>


					</form>

				</div>

			</div>
		</div><!-- /.main-content -->

	</div><!-- /.main-container-inner -->

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->



{{include 'admin/public/footer.html'}}

<script  src="{{_host}}/admin/tab/js/index.js"></script>
<script src="{{_host}}/admin/collection_js/method_public.js"></script>

</body>
                   <script>
                            var ue = UE.getEditor('editor');
							/*$(".in_label").on("click",function(){
								$(this).parent().siblings().children().removeClass("label_check");
								$(this).addClass("label_check")
							})*/
							$(".in_label_checkbox").on("click",function(){
								$(this).hasClass("label_check_checkbox")? $(this).removeClass("label_check_checkbox"):$(this).addClass("label_check_checkbox");
							})
							$(function(){
								debugger;
								app.menuchange();
								$('#pid').on('change',function(){
									$("#catename").val($('#pid option:selected').text());
									app.menuchange()
								})
								$('#secpid').on('change',function(){
									$("#catename").val($('#secpid option:selected').text());
								})
							})
                    </script>
</html>

