<div id="footer-wrapper">
    <div class="footer-inner">
        <p>
            <a href="/">网站首页</a>&nbsp;&nbsp;|&nbsp;
            <a href="/about">关于我们</a>&nbsp;&nbsp;|&nbsp;
            <a href="/competence">核心能力</a>&nbsp;&nbsp;|&nbsp;
            <a href="/case">客户案例</a>&nbsp;&nbsp;|&nbsp;
            <a href="/news">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
            <a href="/service">帮助中心</a>&nbsp;&nbsp;|&nbsp;
            <a href="/industry">解决方案</a>&nbsp;&nbsp;|&nbsp;
            <a href="/connect">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>Copyright © 2002-2015上海机械设备服务有限公司 版权所有 Power by DedeCms</p>
        <p>电话：15918779820 E-mail：89898981@qq.com 地址：上海市沙河广园东路1858新天地服装城</p>
    </div>
</div>