{{include 'admin/public/header.html'}}

<body>
<div class="navbar navbar-default" id="navbar">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>

	{{include 'admin/public/header_nav.html'}}
</div>

<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>

		<!--左侧导航-->

		{{include 'admin/public/nav_left.html'}}

		<div class="main-content">
			{{include 'admin/public/nav_top.html'}}

			<div class="page-content">

				<div class="page-header">
					<h1>
						修改友情链接
					</h1>
				</div><!-- /.page-header -->

				<!--表格-->
				<div class="container_type" style="height:600px">
				<div class="table-responsive">
					<form  action="{{_host}}/admin/link/doEdit" method="post" class="form-horizontal form_top" enctype="multipart/form-data">
						<div class="form-group">
							<label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="title">标题:</label>

							<div class="col-sm-10 col-sm-push-2">
								<input type="text" id="title"  name="title" class="col-xs-10 col-sm-5" value="{{list.title}}" placeholder="请输入主题..."/>


								<input type="hidden" name="id" value="{{@list._id}}"/>
								<input type="hidden" name="prevPage" value="{{prevPage}}"/>

							</div>
						</div>

						<div class="form-group" >
							<label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="title">图标:</label>
							<div class="col-sm-10 col-sm-push-2">
								<a href="javascript:void(0);" class="file">选择文件
									<input type="file" id="file"  name="link_img_url" class="col-xs-10 col-sm-5" />
								</a>
								<label class="no-padding-right showFileName" title="" for="title">{{list.img_name}}</label>
								<label class="no-padding-right showerror" title="" for="title" style="display: none"></label>
							</div>
						</div>
						<div class="img-form-group">
							<label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="title">LOGO:</label>

							<div class="col-sm-10 col-sm-push-2">
								<img src="{{_host}}{{list.link_img}}" alt="" class="imgSize"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="title">链接地址:</label>

							<div class="col-sm-10 col-sm-push-2">
								<input type="text" id="url"  name="link" class="col-xs-10 col-sm-5"  value="{{list.link}}" placeholder="请输入链接地址..."/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 col-sm-push-2 control-label no-padding-right" for="title">排序:</label>

							<div class="col-sm-10 col-sm-push-2">
								<input type="text" id="sort"  name="sort" class="col-xs-10 col-sm-5"  value="{{list.sort}}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 col-sm-push-2 control-label no-padding-right">状态：</label>
							<div class="col-sm-10 col-sm-push-2">
								<label class="status">已审核:</label>
								<div class="in_div">
									<input type="radio" name="status"  id="status1" value="1" {{if list.status==1}} checked {{/if}} />
									<label for="status1"  class="in_label {{if list.status==1}} label_check {{/if}}" onclick="app.radio(this)"></label>
								</div>
								<label class="status">未审核:</label>
								<div class="in_div">
									<input type="radio" name="status" id="status2" value="0" {{if list.status==0}} checked {{/if}} />
									<label for="status2" class="in_label {{if list.status==0}} label_check {{/if}} " onclick="app.radio(this)"></label>
								</div>
							</div>
						</div>


						<div class="form-group">

							<div class="col-sm-12" style="text-align: center">
								<input type="submit" name="submit" id="submit" class="submit" value="提交信息">
							</div>

						</div>





					</form>

				</div>
				</div>

			</div>
		</div><!-- /.main-content -->

	</div><!-- /.main-container-inner -->

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->



{{include 'admin/public/footer.html'}}
<script src="{{_host}}/admin/collection_js/method_public.js"></script>

</body>
</html>

